.css-1vq4p4l {
  padding: 0;
}

/* For a custom theme: sidebar wrapper background */
.appview-container > section[data-testid="stSidebar"] > div {
  background: rgb(250, 250, 250);
  background: #32373d;
}

/* For a custom theme: cross button color */
.css-1xtoq5p{
  color: inherit;
}

/* .css-12oz5g7{
  max-width: 80rem;
} */